.Board {
    position: relative;
    margin: 0 auto;
    background-color: rgb(18, 56, 224);
    background-image:
        linear-gradient(#333 1px, transparent 1px),
        linear-gradient(90deg, #333 1px, transparent 1px);
}